html {
	background: url('Images/bg.png');
}

.nav {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

form {
	border: 1px solid rgb(255,255,255);
	background-color: rgba(255,255,255, 0.47);
	font: 1.3em;
	height: 40px;
	width: 150px;
}

input {
	border: none;
	background: none;
	font-family: avenir;
	margin-right: 0px;
	outline: none;
	line-height: 40px;
	margin-right: 0px;
	width: 90px;
	margin-right: 0px;
	margin-left: 10px;


}

input.value {
	text-transform: none;
}

input::placeholder {
	color:#40B49F;
}

form > p {
	display: inline-block;
	margin-left: 0px;
}

button{
	background: none;
	border: none;
	font-family: inherit;
	margin-left: 0px;
	outline: none;
}

img {
	display: block;
	margin: auto;
	width: 400px;
	padding-top: 250px;
	margin-right: auto;
	margin-left: auto;
}