@font-face {
    font-family: 'mulilight';
    src: url('fonts/muli-light-webfont.woff2') format('woff2'),
         url('fonts/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muliregular';
    src: url('fonts/muli-webfont.woff2') format('woff2'),
         url('fonts/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*General Setup*/

html {
	font-size: 10px;
	overflow-x: hidden;
}

body {
	/*background: linear-gradient(90deg,rgb(115, 241, 163), rgb(21, 162, 140));
	*/
	font-family: 'mulilight';
	margin: 0px;
	text-align: center;

}

button {
	background-color: white;
	border: none;
	color: #1DB389;
	border-radius: 50px;
	cursor: pointer;
}

h1 {
	font-size: 3rem;
}

/*Setup for first section*/

.section1 {
	background: url(Images/bg.png);
	text-align: left;
	height: 700px;
}

.section1-margins {
	margin-left: 70px;
	margin-right: 70px;
}

.section1 img {

	margin-left: 10px;
}

.logo-top {
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
	margin-top: 40px;
}

.log-in {
	float: right;
	height: 4rem;
	width: 13%;
	font-family: "muliregular";
	font-size: 1.4rem;
	margin-top: 40px;
	margin-right: 10px;
	outline: none;
}

/*Main Content Section 1*/
.main-container {
	display: grid;
	margin-left: 200px;
	margin-right: 200px;
	grid-template-columns: 1fr 1fr;
	height: auto;
}

.section1-header {
	color: white;
	font-size: 3.7rem;
}

.section1-text {
	color: white;
	font-size: 1.8rem;
}
.section1-image {
	max-width: 150%;
	position: relative;
	top: 0px;
	left: 130px;
	bottom: 45px;

}




.one-flex-1 {
	margin-top: 90px;
}

.oos {
	height: 4rem;
	width: 55%;
	font-family: "muliregular";
	font-size: 1.6rem;
	outline: none;
	margin-top: 20px;
}

button:hover {
	box-shadow: 0px 0px 30px #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

/*Section 2*/

.main-container2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 90px;
}

.section2-image {
	height: 400px;
	position: relative;
	left: 100px;
}
.section2-bg-text {
	width: 70%;
	background-color: #F6F6F6;
	border-radius: 50px;
}

.section2-header {
	color: #A7E6C6;
	font-weight: lighter;
}

.section2-text {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 1.4rem;
}

/*Section 3*/
.section3 {
	background: url(Images/Subtraction-3.png);
	height: 900px;
}

.main-container3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

.section3-bg-text {
	margin-top: 300px;
	width: 70%;
	margin-left: 100px;
	background-color: #F6F6F6;
	border-radius: 50px;
}

.section3-image {
	margin-top: 300px;
}

.section3-header {
	color: #A7E6C6;
}

.section4 {
	background: linear-gradient(90deg, #73F1A3, #15A28C);
	font-size: 1.2rem;
	color: white;
	text-align: center;
}

footer {

	font-size: 1.4rem;
	margin-bottom: 0px;
}

footer > p {
	line-height: 30px;
	margin-bottom: 0px;
	font-size: 1.4rem;
}

.insta {
	height: 30px;
	margin-top: 50px;
}

.twitter {
	margin-top: 50px;
	height: 30px;
	margin-left: 50px;
}