@font-face {
    font-family: 'mulilight';
    src: url('fonts/muli-light-webfont.woff2') format('woff2'),
         url('fonts/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muliregular';
    src: url('fonts/muli-webfont.woff2') format('woff2'),
         url('fonts/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*General Setup*/

html {
	font-size: 10px;
}

body {
	/*background: linear-gradient(90deg,rgb(115, 241, 163), rgb(21, 162, 140));
	*/
	font-family: 'mulilight';
	margin: 0px;
	text-align: center;

}

button {
	background-color: white;
	border: none;
	color: #1DB389;
	border-radius: 50px;
}

h1 {
	font-size: 3rem;
}

/*Setup for first section*/

.section1 {
	background: url(Images/bg.png);
	text-align: left;
	height: 700px;
}

.section1 img {
	margin-top: ;
	margin-left: 10px;
}

.logo-top {
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
}

.log-in {
	float: right;
	height: 3rem;
	width: 7%;
	font-family: "muliregular";
	font-size: 1.4rem;
	margin-top: 10px;
	margin-right: 10px;
}

/*Main Content Section 1*/
.main-container {
	display: grid;
	margin-left: 150px;
	margin-right: 150px;
	grid-template-columns: 1fr 1fr;
	height: auto;
}

.section1-header {
	color: white;
}

.section1-text {
	color: white;
	font-size: 1.4rem;
}
.section1-image {
	max-width: 100%;
	position: relative;
	margin-top: 90px;

}

.one-flex-1 {
	margin-top: 90px;
}

.oos {
	height: 5rem;
	width: 90%;
	font-family: "muliregular";
	font-size: 1.4rem;
}

/*Section 2*/

.main-container2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 90px;
}

.section2-image {
	height: 400px;
	position: relative;
	left: 100px;
}
.section2-bg-text {
	width: 70%;
	background-color: #F6F6F6;
	border-radius: 50px;
}

.section2-header {
	color: #A7E6C6;
	font-weight: lighter;
}

.section2-text {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 1.4rem;
}

/*Section 3*/
.section3 {
	background: url(Images/Subtraction-3.png);
	height: 900px;
}

.main-container3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

.section3-bg-text {
	margin-top: 300px;
	width: 70%;
	margin-left: 100px;
	background-color: #F6F6F6;
	border-radius: 50px;
}

.section3-image {
	margin-top: 300px;
}

.section3-header {
	color: #A7E6C6;
}

.section4 {
	background: linear-gradient(90deg, #73F1A3, #15A28C);
	font-size: 1.2rem;
	color: white;
	text-align: center;
}

footer {
	line-height: 80px;
	font-size: 1.4rem;
}